# Git
.git
.gitignore

# Docker
Dockerfile*
.dockerignore

# Logs & Debug
*.log

# Dependency cache
vendor

# OS / IDE files
.vscode

# Env / secrets
.env
*.env.*

# Tests / Docs
tests
AUTHORS
CHANGES
LICENSE
README.*
